.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.board {
  background-image: url('./images/grass.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  z-index: 1;
}

.hole {
  border-style: solid;
  border-color: black;
}

.mole {
  background-image: url('./images/mole.png');
  background-repeat: no-repeat;
  z-index: 2;
}

#true {
  background-image: url('./images/grass.jpeg');
  background-repeat: no-repeat;
  background-size: 100%;
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  z-index: 1;
}