.App {
  text-align: center;
  color: #9D5335;
}

button {
  padding: 0.5em;
  color: white;
  background-color: #9D5335;
  font-size: 1em;
}

* {
  margin: 0;
  padding: 0;
}

.board {
  background-image: url('./images/grass.jpeg');
  background-repeat: repeat;
  background-size: 100%;
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  z-index: 1;
}

.hole {
  border-style: solid;
  border-color: #9D5335;
}

.mole {
  background-image: url('./images/mole.png');
  background-repeat: no-repeat;
  object-fit: scale-down;
  max-height: 100%;
  max-width: 100%;
  z-index: 2;
}

#true {
  background-image: url('./images/game-over.jpg');
  background-repeat: repeat;
  background-size: 100%;
  display: grid;
  height: 90vh;
  grid-template-columns: repeat(3, minmax(100px, 1fr));
  grid-template-rows: repeat(3, minmax(100px, 1fr));
  z-index: 1;
}