.App {
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
}

.board {
  background-color: yellow;
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
 grid-template-rows: repeat(3, minmax(200px, 1fr))
}

p{
  border-style: solid;
  border-color: black
}